body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f2f2f2;
}

h2 {
    color: #333;
}


.profile-top-right {
    position: absolute;
    top: 20px;
    right: 30px;
    text-align: center;
    z-index: 10;
}

.tabla {
    margin-top: 60px; /* deja espacio suficiente debajo del botón */
}


table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007BFF;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

input, select {
    padding: 6px;
    margin: 2px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}


.btn-accion, .btn-salir {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 8px 14px;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;
    margin-top: 5px; /* reduce espacio arriba del botón */
}

.btn-accion:hover {
    background-color: #0056b3;
}

.btn-accion i {
    margin-right: 4px;
}

.btn-salir {
    background-color: #6c757d;
}

.btn-salir:hover {
    background-color: #565e64;
}

.text-muted { color: #999; }






